@using Quiron.LojaVirtual.Web.HtmlHelpers

@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel




@foreach (var item in Model.Produtos)
{
    <div>
        <h3>@item.Nome</h3>
        @item.Descricao
        <h3>@item.Preco</h3>
    </div>
}

@* Trabalhando com Paginação *@

@* A chamada abaixo recebe como parâmetro a entidade de Paginacao, o delegate com o nome da action a ser chamada 
    e o nome do parâmetro do método do controller, recebendo o valor da página a ser chamada.*@

@Html.PageLink(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x }))


